.ProgressContainer {
  max-width: 1000px;
}

.RectangleTitlesContainer {
  display: flex;
  justify-content: space-between;
  min-width: 640px;
}

@media (max-width: 749px) {
  .ProgressContainer {
    display: none;
  }
}
