@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&display=swap');

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
form,
div,
header {
  font-family: 'Nunito Sans', sans-serif;
  color: #424242;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

h1 {
  font-size: 24px;
  /* font-weight: 400; */
}

/* h2,
h2,
h3 {
  font-weight: 400;
} */

.AppContainer {
  display: flex;
  padding: 0 50px;
}

.App {
  width: 900px;
  max-width: 900px;
  padding: 60px 0;
}

.ScreenHeading {
  font-size: 20px;
  /* font-weight: 400; */
  padding: 8px 0;
}

.OnrampColor {
  color: #9c27b0 !important;
}
.TransferColor {
  color: #478fcc !important;
}
.ConnectColor {
  color: #c0ca33 !important;
}

.MediumTextSize {
  font-size: 14px !important;
}
.SmallText {
  font-size: 12px !important;
}
.ThinText {
  font-weight: 300 !important;
}
.BoldText {
  font-weight: 400 !important;
}
.ExtraBold {
  font-weight: 700 !important;
}
.BlackText {
  color: #424242 !important;
}
.GreyText {
  color: #8e8e8e !important;
}
.LightGreyText {
  color: #c0c0c0 !important;
}
.Pointer {
  cursor: pointer;
}
.Underline {
  text-decoration: underline;
}
.TextCenter {
  text-align: center;
}
.Capitalize {
  text-transform: capitalize;
}
.LineHeight {
  line-height: 1.4;
}

.Flex {
  display: flex;
}
.FlexAlignCenter {
  display: flex;
  align-items: center;
}
.FlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SpaceBetween {
  justify-content: space-between;
}
.FlexEnd {
  justify-content: flex-end;
}
.ColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Relative {
  position: relative;
}

.Loading {
  color: #8e8e8e;
  font-weight: 400;
  padding: 12px 0;
  font-size: 16px;
}

.Creating {
  color: #8e8e8e;
  font-weight: 400;
  padding: 24px 0;
  font-size: 16px;
}

.nested-title-padding {
  padding: 0;
  padding-top: 40px;
}

.nested-cards {
  display: flex;
}

.nested-cards-line {
  border-right: 2px solid #d9d9d9;
  margin-top: 48px;
  margin-bottom: 53px;
}
.nested-horizontal-line {
  border-bottom: 2px solid #d9d9d9;
  width: 24px;
  margin-right: 20px;
  margin-top: 16px;
}

@media (min-width: 1000px) {
  .AppContainer {
    justify-content: center;
  }
}
