.AddUserContainer {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: flex-end !important;
  padding: 10px;
}

.EditModeContainer {
  display: flex;
  flex-direction: row;
  flex:1;
  align-items: center;
}

.LabelsContainer {
  display: flex;
  flex-direction: column !important;
}

.BigLabel {
  font-size: 14px !important;
  background-color: transparent !important;
  padding: 2px;
}

.SmallLabel {
  font-size: 12px !important;
  background-color: transparent !important;
  padding: 2px;
}

.UserEmail {
  flex:1;
  margin-left: 50px;
  margin-right: 50px;
}
