.ThreeDotsContainer {
  position: relative;
  padding: 10px;
  height: 38px;
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.OneDot {
  width: 4px;
  min-width: 4px;
  height: 4px;
  min-height: 4px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.ThreeDotsMenu {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  min-width: 185px;
  position: absolute;
  top: 60px;
  right: 10px;
}

.ThreeDotsOption {
  padding: 12px 20px;
  color: #8E8E8E;
  cursor: pointer;
}