.Container {
  display: flex;
  flex-direction: row !important;
  align-items: flex-start !important;
}

.Dropdown {
  width: 200px;
  margin-right: 50px;
}

.Stepper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Step {
  display: flex;
  height: 35px;
  margin-bottom: 10px;
  align-items: flex-start;
}

.StepNumber {
  margin-right: 20px !important;
}
