.transaction-table {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  margin-top: 50px;
  .header-title-text {
    color: #8e8e8e;
    font-size: 12px;
    text-transform: uppercase;
  }
  p {
    // padding: 25px 0;
    font-size: 12px;
    // border-bottom: 1px solid #d9d9d9;
  }

  .center-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74px;
    p {
      text-align: center;
    }
  }
  .right-align-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 74px;
    padding-right: 12px;
    p {
      text-align: right;
    }
  }
  .left-align-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 74px;
    p {
      text-align: left;
    }
  }
}
