.screen-container {
  font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 500;
  max-width: 640px;
  min-width: 375px;
  padding: 28px;
  border: 1px solid #7a7a7a;
  border-radius: 2px;

  h1 {
    font-size: 24px;
    padding-bottom: 18px;
  }
  h4 {
    font-size: 12px;
    padding-bottom: 30px;
    color: #7a7a7a;
  }

  .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 60px;
    }
    .loading-container {
      height: 210px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .coinbase-loading {
        max-height: 200px;
        height: 80px;
      }
    }
  }

  .InputContainer {
    height: 40px;
    .floatingLabel {
      display: none;
    }
  }
  .ClearableInput {
    box-shadow: none;
    border: 1px solid #ebebeb;
    border-radius: 2px;
  }
  .InputRightSubcontainer {
    cursor: pointer;
  }

  #iframe-container {
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  .divider {
    border-top: 1px solid #ebebeb;
    padding: 0;
    margin: 10px 0;
  }
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      margin-left: 10px;
      height: 48px;
      background-color: #2ca01c !important;
      color: white;
      font-weight: 600;
      font-size: 18px;
      width: 140px;
      box-shadow: none !important;
      border-radius: 3px !important;
    }
    button.bordered {
      background-color: white !important;
      border: 1px solid #7a7a7a;
      color: #7a7a7a;
    }
  }
}

.screen-container.no-border {
  border: none;
  width: 100%;
  max-width: 100%;
}

.exchange-list-container {
  p {
    padding: 14px 0;
    .query {
      font-style: italic;
      font-weight: bold;
    }
  }
  .exchange-list-rows {
    overflow-y: scroll;
    max-height: 248px;
  }
  .exchange-row {
    cursor: pointer;
    border-top: 1px solid #ebebeb;
    padding: 10px 40px;
    display: flex;
    align-items: center;
  }
}

.exchange-icon-container {
  border: 1px solid #ebebeb;
  width: 80px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 2px;
  img {
    width: 100%;
  }
}
.exchange-info {
  padding-left: 20px;
  h6 {
    font-weight: bold;
    font-size: 14px;
  }
  p {
    color: #7a7a7a;
    font-size: 12px;
    padding: 0;
  }
}

.exchange-header {
  display: flex;
  align-items: center;
  padding-bottom: 36px;
  .exchange-icon-container {
    width: 120px;
    height: 68px;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 210px;
  height: 210px;
  position: absolute;
  top: -4px;
  margin-left: -8px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 4px solid #7a7a7a;
  border-color: #7a7a7a transparent #7a7a7a transparent;
  animation: lds-dual-ring 1.6s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 488px) {
  .screen-container {
    .buttons-container {
      flex-direction: column-reverse;
      justify-content: flex-start;
      button {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }
}
