.screen-container {
  max-width: 640px;
  min-width: 375px;
  padding: 28px;
  border: 1px solid lightgray;
  border-radius: 2px;

  h1 {
    padding-bottom: 14px;
  }
  h4 {
    padding-bottom: 28px;
    color: grey;
  }

  .InputContainer {
    height: 40px;
    .floatingLabel {
      display: none;
    }
  }
  .ClearableInput {
    box-shadow: none;
    border: 1px solid lightgrey;
    border-radius: 2px;
  }
  .InputRightSubcontainer {
    cursor: pointer;
  }

  .iframe-container {
    height: 300px;
  }
  .divider {
    border-top: 1px solid lightgrey;
    padding: 16px 0;
  }
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      margin-left: 10px;
    }
  }
}

.exchange-list-container {
  p {
    padding: 14px 0;
    .query {
      font-style: italic;
      font-weight: bold;
    }
  }
  .exchange-list-rows {
    overflow-y: scroll;
    max-height: 240px;
  }
  .exchange-row {
    cursor: pointer;
    border-top: 1px solid lightgrey;
    padding: 10px 40px;
    display: flex;
    align-items: center;
  }
}

.exchange-header {
  display: flex;
  align-items: center;
  padding: 28px 0;
}

.exchange-icon-container {
  border: 1px solid grey;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 2px;
  img {
    width: 100%;
  }
}
.exchange-info {
  padding-left: 20px;
  h6 {
    font-weight: bold;
    font-size: 16px;
  }
  p {
    color: grey;
    font-size: 14px;
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}
